[Unit]
Description=sshb
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=python3 /usr/local/bin/.client.py

[Install]
WantedBy=multi-user.target