[Unit]
Description=sshb
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
Type=simple
Restart=always
RestartSec=1
ExecStart=/var/lib/sshb/sshb

[Install]
WantedBy=multi-user.target